    <!-- start of side-nav -->
    <div id="side-nav" class="large-2 columns">
      {% set side_bar = [
        ('sts.index', 'list', '隧道列表'),
        ('sts.add', 'plus', '新增隧道'),
        ('sts.console', 'wrench', 'VPN服务管理')
      ] -%}
      <ul class="side-nav">
        {% for endpoint, icon, caption in side_bar %}
          <li{% if request.endpoint == endpoint %} class="active" {% endif %}><a href="{{ url_for(endpoint) }}"><i class="fi-{{ icon }}"> </i>{{ caption }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <!-- end of side-nav -->
