{% extends "layout.html" %}
{% block title %}VPN Console{% endblock title%}

{% block trail %}
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('vpn.index') }}">VPN</a></li>
        <li class="current"><a href="{{ url_for('vpn.console') }}">VPN Console</a></li>
{% endblock trail %}

{% block content %}
    <!-- start of side-nav -->
    <div id="side-nav" class="large-2 columns">
      <ul class="side-nav">
        <li><a href="{{ url_for('vpn.sts_index') }}"><i class="fi-list"> </i>隧道列表</a></li>
        <li><a href="{{ url_for('vpn.sts_add') }}"><i class="fi-plus"> </i>新增隧道</a></li>
        <li class="active"><a href="{{ url_for('vpn.console') }}"><i class="fi-wrench"> </i>VPN 服务管理</a></li>
      </ul>
    </div>
    <!-- end of side-nav -->

    <!-- start of console content -->
    <div class="large-10 columns">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div data-alert class="alert-box {{ category }}">
        {{ message }}
        <a href="#" class="close">&times;</a>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <form method="POST" action="{{ url_for('vpn.console') }}">
        <div class="row">
          <div class="large-3 columns">
            <ul class="pricing-table">
              <li class="title">启动VPN 服务</li>
              <li class="description">启动VPN 服务。不会影响到已经运行的VPN 服务。</li>
              <li class="cta-button">{{ form.start(class="alert tiny button") }}</li>
            </ul>
          </div>
          <div class="large-3 columns">
            <ul class="pricing-table">
              <li class="title">停止VPN 服务</li>
              <li class="description">停止VPN 服务。服务停止之后，所有已经连接的隧道都将中断。</li>
              <li class="cta-button">{{ form.stop(class="alert tiny button") }}</li>
            </ul>
          </div>
          <div class="large-3 columns end">
            <ul class="pricing-table">
              <li class="title">配置下发&重载</li>
              <li class="description">下发新的VPN 配置，并使之生效。建议在修改VPN 配置之后再进行使用。</li>
              <li class="cta-button">{{ form.re_load(class="alert tiny button") }}</li>
            </ul>
          </div>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </div>
      </form>
    </div>
    <!-- end of console content -->
{% endblock content %}
